a {
    color:black;
    outline:0;
    text-decoration: none;
}

a:hover {
    color:black;
    outline:0;
    text-decoration: none;
}

a:active {
    color:black;
    outline:0;
    text-decoration: none;
}