{% extends 'ops_admin/base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tick Sheet</h5>
                        <table class="table table-borderless">
                            <thead class="thead">
                                <tr>
                                    <th scope="col"><i class="fas fa-file"></i></th>
                                    <th scope="col"><i class="fas fa-tasks"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for supplier in suppliers %}
                                    {% for scode in supplier %}
                                        <tr>
                                            <td>{{scode}}</td>
                                            {% if scode in received %}
                                                <td class="center"><i class="fas fa-check"></i></td>
                                            {% else %}
                                                <td class="center"><i class="fas fa-times"></i></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-m">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Concessions</h5>
                        <table class="table table-borderless">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Best Before</th>
                                    <th scope="col">First Pick</th>
                                    <th scope="col">Last Pick</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for concession in concessions %}
                                    <tr>
                                        <td>{{concession.scode}}</td>
                                        <td>{{concession.pcode}}</td>
                                        <td>{{concession.pdesc}}</td>
                                        <td>{{concession.prbbd}}</td>
                                        <td>{{concession.cstart}}</td>
                                        <td>{{concession.cend}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <div class="list-group-flush">
                            {% for note in notes %}
                                <li class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-2 h5">{{note.supplier}}</h5>
                                        <small>{{note.start}}</small>
                                    </div>
                                    <p class="mb-2">{{note.note}}</p>
                                    <small>{{note.end}}</small>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm"></div>
            <div class="col-m"></div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock content %}